/* Custom styles if needed */
/* Add Order Button 
button[type="button"].btn-primary.me-2 {
  position: relative;
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
  margin: 0;
  width: 100%;
}

/* Add Order Modal 
#addOrderModal .modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#addOrderModal .form-group {
  width: 100%;
}

#addOrderModal .form-group input {
  width: 100%;
}

#addOrderModal button[type="submit"].btn-primary {
  width: 100%;
}
*/